* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #555557a1;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: white;
    text-align: center;
}

h2 {
    color: rgba(255,255,255,0.85);
    font-size: 36px;
    text-align: center;
}

.email {
    position: absolute;
    bottom: 2%;
    font-size: 12px;
    color: white;
    text-align: center;
}

.view-resume-button {
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 10px 40px;
    background-color: white;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    border-color: white;
    color: #55555777;
}

.view-resume-button:hover {
    color: #555557a1;
    box-shadow: 0 3px 12px rgba(255, 255, 255, 0.4);
}

.view-resume-button:active {
    background-color: rgb(78, 78, 82);
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.view-resume-button:focus {
    outline: 0;
}

.links {
    position: absolute;
    bottom: 5%;
}

.social-icon {
    display: inline-block;
    color: white;
    font-size: 300%;
    padding: 0px 15px;
    line-height: 120%;
}

.social-icon:hover {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

.MTA-Badge,
.UofC {
    transition: 0.5s;
    position: absolute;
    bottom: 1%;
    width: 10%;
    height: auto;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.MTA-Badge:hover,
.UofC:hover {
    width: 15%;
    height: auto;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    bottom: 8%;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 15px 4px -4px rgba(255, 255, 255, 0.4);
}

.MTA-Badge { right: 1%; }
.UofC { left: 1%; }
.MTA-Badge:hover { right: 4% }
.UofC:hover { left: 4% }